target/
!.mvn/wrapper/maven-wrapper.jar
.project
logs/
.settings
*.log
work
derby.log
vap_server_dir

### vscode ###
.vscode
node_modules
dist/

### STS ###
.apt_generated
.classpath
.factorypath

.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.git

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/
/bin/
LOG_PATH_IS_UNDEFINED/