<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrv.vap.xc.mapper.core.AppBusinessTotalMapper">
    <insert id="replaceInto" parameterType="java.util.List">
        REPLACE INTO rpt_app_business_total
        (ip,file_name,file_level,file_business,`count`,`time`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.ip},
            #{item.fileName},
            #{item.fileLevel},
            #{item.fileBusiness},
            #{item.count},
            #{item.time}
            )
        </foreach>
    </insert>
</mapper>
