<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrv.vap.xc.mapper.core.RptUserLoginMapper">

    <insert id="replaceInto" parameterType="java.util.List">
        REPLACE INTO rpt_user_login
        (key_id,dev_ip,login_hour,login_count,last_update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.keyId}, #{item.devIp}, #{item.hour}, #{item.count}, CURRENT_TIMESTAMP)
        </foreach>
    </insert>
</mapper>
