<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrv.vap.xc.mapper.core.UserSecretInfoDayMapper">

    <insert id="saveBatch4List" parameterType="java.util.List">
        INSERT INTO rpt_user_secret_info_day
        (id,user_no,user_name,device_ip,depart_no,depart_name,secret_file_name,business,`count`,data_time,`time`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
             #{item.userNo},
             #{item.userName},
             #{item.deviceIp},
             #{item.departNo},
             #{item.departName},
             #{item.secretFileName},
             #{item.business},
             #{item.count},
             DATE_FORMAT(date_sub(NOW(),interval 1 day),'%Y-%m-%d'),
             CURRENT_TIMESTAMP)
        </foreach>
    </insert>


    <select id="countAll" resultType="com.vrv.vap.xc.pojo.UserSecretInfoTotal">
        SELECT
            user_no userNo,
            user_name useName,
            device_ip deviceIp,
            depart_no departNo,
            depart_name departName,
            secret_file_name secretFileName,
            business,
            sum( count ) count,
            DATE_FORMAT(NOW(),'%Y%m%d%H') version,
            CURRENT_TIMESTAMP time
        FROM
            (
            SELECT
            user_no,
            user_name,
            device_ip,
            depart_no,
            depart_name,
            secret_file_name,
            business,
            count
            FROM
            rpt_user_secret_info_day
            WHERE
            data_time = DATE_FORMAT( date_sub( NOW(), INTERVAL 1 DAY ), '%Y-%m-%d' ) UNION ALL
            SELECT
            user_no,
            user_name,
            device_ip,
            depart_no,
            depart_name,
            secret_file_name,
            business,
            count
            FROM
            rpt_user_secret_info_total
            ) a
        GROUP BY
            device_ip,
            secret_file_name
    </select>

    <select id="countByDepart" resultType="java.util.Map">
    SELECT
        depart_no departNo,
        depart_name departName,
        GROUP_CONCAT( business ) business,
        SUM( count ) num,
	    COUNT( secret_file_name ) count
        FROM
            rpt_user_secret_info_day
        WHERE
            data_time = DATE_FORMAT( date_sub( NOW(), INTERVAL 1 DAY ), '%Y-%m-%d' )
        GROUP BY
            depart_no
    </select>
</mapper>
