<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrv.vap.data.mapper.DiscoverEntityRelMapper">
  <resultMap id="BaseResultMap" type="com.vrv.vap.data.model.DiscoverEntityRel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="entity_id" jdbcType="INTEGER" property="entityId" />
    <result column="source_id" jdbcType="INTEGER" property="sourceId" />
    <result column="field" jdbcType="VARCHAR" property="field" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
</mapper>