<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrv.vap.admin.mapper.UserPageMapper">
  <resultMap id="BaseResultMap" type="com.vrv.vap.admin.model.UserPage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userid" />
    <result column="pages" jdbcType="VARCHAR" property="pages" />
    <result column="reside" jdbcType="VARCHAR" property="reside" />
  </resultMap>

</mapper>