<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrv.vap.admin.mapper.UserIpMapper">
  <resultMap id="BaseResultMap" type="com.vrv.vap.admin.model.UserIp">
    <!--
      WARNING - @mbg.generated
    -->
    <id property="id" jdbcType="INTEGER" column="id" />
    <result property="user_id" jdbcType="INTEGER" column="userId" />
    <result property="ip" jdbcType="VARCHAR" column="ip" />
    <result property="status" jdbcType="TINYINT" column="status" />
  </resultMap>
</mapper>